@media screen and (max-width: 1199px) {
    .podrobno {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .podrobno img {
        width: 350px;
    }
    .modal__img{
        width: 380px;
        height: 380px;
    }
}

@media screen and (max-width: 1049px) {
    .podrobno {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .podrobno img {
        width: 300px;
    }
    .modal__text{
        width: 350px;
    }

}

@media screen and (max-width: 991px) {

    .podrobno img {
        width: 300px;
    }

    .c-form {
        width: 300px;
    }

    .c-footer-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0;
    }

    .c-footer-list>li:nth-child(3) {
        margin-top: 30px;
    }

    .c-footer-item-link {
        font-size: 16px;
        letter-spacing: 0.001px;
    }

    .c-footer-item-list>h4 {
        font-size: 18px;
        letter-spacing: 0.050px;
    }

    .c-footer-item-list {
        text-align: center;
    }

    .c-footer-item-list>li {
        text-align: center;
    }
    .modal__container{
        width: 95%;
    }
}

@media screen and (max-width: 899px) {
    .podrobno {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .podrobno img {
        width: 350px;
        height: 170px;
        margin: 5px 0;
    }

    .podrobno>img:nth-child(3) {
        width: 85.5%;
        height: 225px;
    }

    #c-modal {
        padding: 50px 60px;
    }
}

@media screen and (max-width: 768px) {
    body {
        position: relative;
    }

    .counter {
        margin: 0 20px 0 20px;
    }
    .c-header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .c-brand-name>img {
        width: 150px;
    }

    .c-btn-box {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-around;
        right: 0;
        width: 100%;
        bottom: 0;
        background: #e7e7e7;
        box-shadow: var(--shadow);
        padding: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .c-profil-btn {
        margin: 0;
    }

    .c-location-info-box>h4 {
        font-size: 14px;
    }

    .c-phone-link {
        font-size: 13px;
    }

    .c-kategoriya-list>li>a {
        font-size: 18px;
    }

    .podrobno>img:nth-child(3) {
        width: 94%;
        height: 225px;
    }

    .c-footer {
        padding-bottom: 80px;
    }
    .modal__container{
        display: flex;
        flex-direction: column;
    }
    .modal__img{
        width: 300px;
        height: 300px;
        margin: 20px 0;
    }
    .modal__container::before{
        bottom: -40%;
        right: -70%;
    }
    .c-footer-item{
        text-align: center !important;
    }
}

@media screen and (max-width: 699px) {
    .c-slider {
        height: 225px;
    }

    .podrobno img {
        width: 90%;
        height: 170px;
        margin: 5px 0;
    }

    .podrobno>img:nth-child(3) {
        width: 90%;
        height: 170px;
    }
    .cart--box{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cart--box>img{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .cart--title{
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .c-footer-item-list{
        width: 350px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: auto;
    }

    .c-form {
        width: 200px;
    }

    .object--box {
        margin: 0 auto;
        margin-bottom: 35px;
        margin-top: 35px;
    }

    .z__kolonkis {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .c-slider {
        width: 95%;
        height: 150px;
        margin: 0 auto;
    }

    .podrobno img {
        width: 90%;
        height: 170px;
        margin: 5px 0;
    }

    .podrobno>img:nth-child(3) {
        width: 90%;
        height: 170px;
    }
    .c-logIn-modal{
        padding: 0 10;
    }
    .c-modal-content-c{
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .c-profil-btn-top-480 {
        display: block;
    }

    .c-profil-btn-top {
        display: none;
    }

    .c-form>input,
    .c-form>button {
        display: none;
    }

    .c-form {
        width: 40px;
    }

    .c-form-bottom {
        width: 220px;
        position: relative;
        display: block;
    }

    .c-form-bottom>input {
        width: 210px;
        margin-right: 10px;
        padding: 6px 50px 6px 20px;
        border-radius: 30px;
        outline: none;
        border: 2px solid var(--green);
        font-size: 15px;
        font-weight: bold;
        color: var(--dark);
    }

    .c-form-bottom>.c-search-btn {
        right: 10px;
    }
    #c-modal{
        padding: 50px 30px;
    }
    .cart--title{
        margin-bottom: 0;
        font-size: 18px;
    }
    .counter{
        margin: 10px 0;
    }
    .cart--about{
        width: 100%;
        display: flex;justify-content: space-between;
    }
    .modal__text{
        width: 300px;
    }
    .modal__img{
        width: 280px;
        height: 280px;
        margin: 20px 0;
    }
    .c-footer-item-list{
        text-align: center;
    }
}